body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.dashboard {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.card h2 {
    margin-bottom: 15px;
}

.card p {
    font-size: 40px;
    font-weight: bold;
}

.verde {
    background-color: green;
}

.amarelo {
    background-color: goldenrod;
}

.vermelho {
    background-color: red;
}